section {
    font-size: 30px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px black;
    
}




header  {
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#txtres {
    font-size: 17px;
    text-align: inherit;
    
    
}

#sportsres {
    font-size: 20px;
    text-align: justify;
    width: 150px;
    
    padding: 20px;
    position: inherit; 
   
}

#goalres {
    font-size: 20px;
    text-align: justify;
    width: 150px;
    
    padding: 20px;
    position: inherit; 
   
}

#foto {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 8px;
    display: block;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background-color: rgb(121, 124, 133);
    
}



#footer {
    background-color: #f7f7f7;
    color: #999999;
    padding: 4.5em 0 2.5em 0 ;
    color: #b0b0b0;
    text-align: center;
}
