section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px black;
}
header  {
    font-size: 40px;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    font-size: 20px;
}

#txtres {
    font-size: 15px;
    text-align: justify;
    width: 150px;
    padding: 20px;
    position: inherit; 
}

#sportsres {
    font-size: 15px;
    text-align: justify;
    width: 150px;
    padding: 20px;
    position: inherit; 
}
#goalres {
    font-size: 15px;
    text-align: justify;
    width: 150px;
    padding: 20px;
    position: inherit;   
}
#hoursres {
    font-size: 15px;
    text-align: center;
    width: 150px;
    padding: 20px;
    position: inherit; 
}

#foto {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    padding: 8px;
    display: block;
    margin: 0 auto;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,101,9,1) 35%, rgba(0,212,255,1) 100%);  
}
#footer {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,101,9,1) 35%, rgba(0,212,255,1) 100%);
    color: #999999;
    padding: 4.5em 0 2.5em 0 ;
    color: #b0b0b0;
    text-align: center;
}
input[type=number] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=number]:focus {
    border-color:#333;
}
input[type=button] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}
